html, body{
    height:100%;
}

header{
    height:100%;
    width:100%;
}

.top h2{
    display:flex;
    margin:10% 10%;

}

.vestibulares{
    margin: 10% 10%;
}
.vestibulares select{
    display:flex;

}