html, body{
    height:100%;
}

header{
    height:50%;
    width:100%;
}
.clear{
    clear:both;
}
.top{
    text-align:center;
    background-color:gray;
    height:30%;
    width:30%;
    margin-left:35%;
    
}

.top .title{
    
    margin-top:1%;
    font-size:150%;
    margin-left:-0.3%;
    background-color:purple;
    width:100%;
    color:white;
}
.top .complement{
    
    margin-top:1%;
    margin-left:-0.3%;
    background-color:purple;
    width:100%;
    color:white;
    
}

.explanation{
    margin-bottom:-5%;
    width:100%;
    margin-left:-0.3%;
    margin-top:4%;
    background-color:rgb(138, 193, 242);
}
.explanation p{
    
    font-size:150%;
}


.vestibulares{
    background-color:lightblue;
    width:10%;
    margin-top:5%;
    margin-bottom:-5%;
    margin-left:10%;
}
.vestibulares .enem{
    display:flex;
    margin-bottom:-5%;
    width:50%;
}
.vestibulares .uerj{
    width:50%;
    margin-bottom:-5%;
}

.vestibulares .enem:hover{
    transition-duration: 300ms;
    background-color:green;
}
.vestibulares .uerj:hover{
    transition-duration: 300ms;
    background-color:green;
}

.content{
    text-align: center;
    width:100%;
    height:50%;

}
.content .tips{
    width:50%;
    margin-left:25%;
    background-color:white;
}
.content .tips .enjoy{
    background-color:blue;
    width:30%;
    margin-left:35%;
    border-radius: 8.5%;
    color:white;
    margin-top:3%;
    margin-bottom:3%;
}
.content .tips ul{
    margin-left:15%;
}
.content .tips li{
    font-size:140%;
    margin-top:5%;
    margin-left:15%;
    width:40%;
    margin-bottom:5%;
}