*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:white;
}

html, body{
    background-color:white;
    text-decoration:none;
}

@media screen and (max-width:768px) {
  
  .top{
    width:50%;
    height:20%;
    font-size:20%;
    margin-left:25%;
  }
  .content{
    width:80%;
    font-size:20%;
    height:40%;
    margin-left:8%;
    margin-top:-60%;
  }
}


